@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .dark {
        background-color: #23272f;
        color: #fff;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}